{% extends "base.html" %}

{% block description %}"Технический блог о Linux, сетях и разработке"{% endblock %}

{% block title %}dmitbud.tech - технический блог{% endblock %}

{% block main-inner %}
<div class="container main-container">
  <h1 class="feed-header">Последние статьи</h1>
  {% if article_list %}
    <section class="post-feed">
      {% for article in article_list %}
        <article class="feed-item">
          <header class="feed-item-header">
            <h2 class="feed-item-title">
              <a href="/articles/{{ article.slug }}/">{{ article.title  }}</a>
            </h2>
          </header>
          <p class="feed-item-lead">{{ article.lead|safe }}</p>
          <a href="/articles/{{ article.slug }}/">Читать</a>
          <footer class="feed-item-footer">
            {% if article.published_at %}
              <time datetime="{{ article.published_at|date:'Y-m-d' }}">
                {{ article.published_at|date:'d F Y' }}
              </time>
            {% else %}
              <span class="publish-waiting">Ожидает публикации</span>
            {% endif %}
          </footer>
        </article>
      {% endfor %}
    </section>
  {% else %}
    <p class="empty-feed">Тут пока ничего нет</p>
  {% endif %}
</div>
{% endblock main-inner %}

